.burger {
  display: none;
  position: relative;
  width: 30px;
  height: 20px;
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
  &__line {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 3px;
    background: #4D4D52;
    transform: translateY(-50%);
    transition: opacity .3s ease-in-out;
  }

  &:before,
  &:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background: #4D4D52;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, bottom 0.3s ease-in-out;
  }

  &:before {
    top: 0;
  }

  &:after {
    bottom: 0;
  }

  &._active .burger__line {
    opacity: 0;
  }

  &._active::before {
    top: 50%;
    transform: rotate(45deg);
  }

  &._active::after {
    bottom: auto;
    top: 50%;
    transform: rotate(-45deg);
  }
}