.about-me {
  background: #CDE1FF34;

  &__title {
  }

  &__item {
    display: flex;
    justify-content: space-between;
    margin: 0 -20px 20px;
    padding: 0;
  }

  &__image {
    flex: 1 0 300px;
    height: 300px;
    padding: 0 20px;
    background: url('../../../assets/images/img-aboutme.svg') center center / contain no-repeat;
  }

  &__text {
    flex: 1 1 auto;
    padding: 0 20px;
    &>p{
      font-size: 20px;
      line-height: 140%;
      margin: 0 0 20px 0;
    }
  }

  &__link {
    text-decoration: underline;
    transition: .5s;
  }

  &__link:hover {
    text-decoration: none;
  }
}