@use '../../node_modules/normalize.css/normalize';
@use './fonts.scss';
@use './header.scss';
@use './main.scss';
@use './footer.scss';
@use './media-query.scss';

html,
body {
	height: 100%;
	font-family: 'Montserrat', sans-serif;
	color: #4D4D52;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
	color: #4D4D52;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 10px;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	max-width: 380px;
	height: 70px;

	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 16px;
	line-height: 100%;
	letter-spacing: 0.02em;

	background: #35B3A9;
	border-radius: 15px;
	transition: 1s;

	&:hover {
		background: #11948b;
	}

	&:before {
		content: "";
		position: absolute;
		z-index: -1;
		top: 10px;
		left: 10px;
		width: 100%;
		height: 70px;
		background: #CDE1FF;
		border-radius: 15px;
		transition: 1s;
	}

	&:hover::before {
		transform: translate(-9px, -9px);
	}
}


.description {
}